* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 1000px;
}

.gridSquare {
    display: inline-flex;
    border: solid;
    border-width: .5px;
    flex: 1;
}

.row {
    flex-grow: 1;
}

